// HEADER STYLE
.header-nav {
   display:       flex;
   position:      fixed;
   background:    var(--white);
   box-shadow:    inset 0 0 0 1px var(--bgn-modal-medium), 0 0 25px 3px var(--bgn-modal-low);
   border-radius: 20px;
   
   .navigation {
      display:  flex;
      width:    100%;
      padding:  9px;
      gap:      8px;
      overflow: hidden;
      
      .link-page {
         display:       flex;
         align-items:   center;
         border-radius: 12px;
         flex-grow:     1;
         
         &:not(.current-link):hover {
            background: var(--bgn-secondary);
         }
      }
      .current-link {
         background: var(--accent-blue-light);
         
         .link-label {
            color:       var(--accent-blue) !important;
            font-weight: 555;
         }
      }
   }
}

// ON DESKTOP 
.header-nav.on-desktop {
   flex-direction: column;
   top:            40px;
   bottom:         40px;
   left:           40px;
   width:          80px;
   height:         calc(100vh - 80px);
   max-height:     1524px;
   padding:        20px 0;
   transition:     width .3s ease;
   
   .logo-area {
      display:    none;
      background: var(--bgn-modal-base);
   }
   
   .navigation {
      flex-direction: column;
      
      .link-page {
         gap:           28px;
         padding:       16px;
         
         .link-label {
            opacity:     0;
            font-size:   24px;
            color:       var(--font-color-low);
            
            &:hover {
               color: var(--font-color-low);
            }
         }
      }
   }
   &:hover {
      width: 400px;
      
      .navigation .link-page .link-label {
         opacity:    1;
         transition: opacity .4s ease;
      }
   }
   .theme-controler {
      display:         flex;
      justify-content: center;
      align-items:     center;
      border-radius:   999px;
      margin:          auto auto -9px 9px;
      padding:         16px;
      transition:      background .3s ease;
      
      &:hover {
         background: var(--bgn-modal-low);
      }
   }
}
@media (max-width: 540px) {
   .header-nav.on-desktop {
      display: none;
   }
}

// ON MOBILE 
.header-nav.on-mobile {
   width:  calc(100% - 20px);
   height: 80px;
   left:   10px;
   right:  10px;
   bottom: 10px;
   
   .navigation {
      
      .link-page {
         flex-direction:  column;
         justify-content: center;
         text-align:      center;
         padding:         6px 0;
         
         .link-label {
            font-size: 13px;
            color: var(--font-color-low);
         }
      }
      .current-link {
         padding:       6px 9px;
      }
   }
}

@media (min-width: 540px) {
   .header-nav.on-mobile, .selective-manu {
      display: none;
   }
}

// HEADER CONTROLER ON MOBILE
.selective-manu.on-mobile {
   min-height: 80px;
   border-radius: 999px;
   background: tomato;
   
   .logo-area {
      display: none;
   }
}

// HEADER LOGO
.full-logo {
   display:     flex;
   align-items: center;
}