

.section-model {
   width:      100%;
   min-height: 100vh;
   max-height: content-height;
   padding:    40px 0;
}

@media (max-width: 440px) {
   .section-model {
      padding: 20px 0;
   }
}

// Screen Control Width 
.basis-layout {
   width:       calc(100% - 290px);
   max-width:   1124px;
   margin-left: 180px;
   background:  var(--bgn-modal-base);
}
@media (max-width: 540px) {
   .basis-layout {
      width:         calc(100% - 40px);
      margin-inline: auto;
   }
}
