

.section-model {
   width:      100%;
   min-height: 100vh;
   max-height: content-height;
   padding:    40px 0;
}

// Screen Control Width 
.basis-layout {
   width:     100%;
   max-width: 1024px;
   margin:    0 20px 20px 180px;
}
@media (max-width: 440px) {
   .basis-layout {
      width:         calc(100% - 40px);
      margin-inline: auto;
   }
}

// Screen Control Width in-mobile
@media (max-width: 440px) {
   .basis-layout {
      width: calc(100% - 40px);
   }
}