:root {
   // Background 
   --bgn-primary:      #FFFFFF;
   --bgn-secondary:    #F5F5F5;
   --bgn-terceary:     #D3D5D6;
   --bgn-modal-base:   #41444817;
   --bgn-modal-medium: #41444825;
   --bgn-modal-low:    #4144480c;

   // Font Colors 
   --font-color-base:   #0e0f0f;
   --font-color-medium: #2e2e31;
   --font-color-low:    #515151;
   
   // Accent Colors
   --accent-blue:       #00639C;
   --accent-blue-low:   #C3E7FF;
   --accent-blue-light: #F0F3F8;
   
   // Neutral Colors
   --white: #FFF;
   --black: #000;
}


